// Fonts

@font-face {
    font-family: 'mainfont';
    src: url('../media/fonts/mainfont.woff2') format('woff2-variations');
    font-style: normal;
}

.book-xs {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 130%;
    letter-spacing: 0.015rem;
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;
}

.book-s {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.02rem;
    margin-top: -0.1875rem;
    margin-bottom: -0.3125rem;
}

.book-ms {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 130%;
    margin-top: -0.3125rem;
    margin-bottom: -0.3125rem;
}

.book-m {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

.book-ml {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 130%;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.book-l {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 100%;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

.book-xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

.book-xxl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 100%;
    margin-top: -0.4375rem;
    margin-bottom: -0.5rem;
}

.book-3xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 100%;
    margin-top: -0.5625rem;
    margin-bottom: -0.625rem;
}

.book-4xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    line-height: 100%;
    margin-top: -0.75rem;
    margin-bottom: -0.8125rem;
}

.medium-xs {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 0.75rem;
    line-height: 130%;
    letter-spacing: 0.015rem;
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;
}

.medium-s {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.02rem;
    margin-top: -0.1875rem;
    margin-bottom: -0.3125rem;
}

.medium-ms {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1.25rem;
    line-height: 130%;
    margin-top: -0.3125rem;
    margin-bottom: -0.3125rem;
}

.medium-m {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1.5rem;
    line-height: 130%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

.medium-ml {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1.875rem;
    line-height: 130%;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.medium-l {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 2.25rem;
    line-height: 100%;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

.medium-xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 3rem;
    line-height: 100%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

.medium-xxl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 3.75rem;
    line-height: 100%;
    margin-top: -0.4375rem;
    margin-bottom: -0.5rem;
}

.medium-3xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 4.5rem;
    line-height: 100%;
    margin-top: -0.5625rem;
    margin-bottom: -0.625rem;
}

.medium-4xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 6rem;
    line-height: 100%;
    margin-top: -0.75rem;
    margin-bottom: -0.8125rem;
}

// Spacing Variables

$sp2: 0.125rem;
$sp4: 0.25rem;
$sp8: 0.5rem;
$sp16: 1rem;
$sp24: 1.5rem;
$sp32: 2rem;
$sp40: 2.5rem;
$sp48: 3rem;
$sp56: 3.5rem;
$sp64: 4rem;
$sp72: 4.5rem;
$sp80: 5rem;
$sp120: 7.5rem;
$sp160: 10rem;
$sp240: 15rem;
